html {
    font-family: Verdana;
    /* background: url(http://i.imgur.com/mBVCD0n.jpg); */
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

table {
    font-size: 0.7em;
}

tr > td {
    padding: 2px 14px 2px 14px;
}

tr {
    border-bottom: dashed thin #ababab;
}

tr:hover {
    background: #fff380;
}

p {
    margin-bottom: 10px;
}

input[type=text] {
    width: 100%;
    font-size: 0.8em;
    padding: 4px;
}

/* Custom divs */

div#search {
    background: #f1f1f1;
    padding: 10px;
}

div.container {
    background: white;
}

span.secondary {
    font-size: 0.8em;
}

div#footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid thin #ababab;
    font-size: 0.5em;
}

div.description {
    border-bottom: solid #efefef 1px;
    margin-bottom: 5px;
}

div#map {
    height: 380px;
}

div#reservations {
    font-size: 0.6em;
}

span.available-yes {
    color: green;
    font-weight: bold
}

span.available-no {
    color: red;
    font-weight: bold
}

span.available-maybe {
    color: orange;
    font-weight: bold    
}


/* Map customizations */
.olControlAttribution {
    bottom: 5px !important;
    font-size: 0.5em !important;
    background: #ababab !important;
    padding: 0px 5px 0px 5px !important;
    color: white !important;
    opacity: 0.8 !important;
}

.olControlAttribution > a {
    color: white !important;
    text-decoration: none !important;
}

.rentable-marker {
}