{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script>
        $(document).ready(function() {
            var map = L.map('map').setView([51.34, 12.38], 12); // Leipzig
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © OpenStreetMap contributors';
            var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 18, attribution: osmAttrib});       
            map.addLayer(osm);
            $.ajax({
                type: "GET",
                url: "{{ urlFor('geojson') }}",
                dataType: 'json',
                success: function (response) {
                    geojsonLayer = L.geoJson(response, {
                        onEachFeature: function (feature, layer) {
                            layer.bindPopup(feature.properties.styled, 
                                { className: 'rentable-marker', title: feature.properties.oid });
                        }
                    }).addTo(map);
                }
            });

            function ViewModel() {
                var self = this;
                self.query = ko.observable("");

                self.query.subscribe(function(newValue) {
                    console.log("query:" + newValue);
                    console.log("{{ urlFor('tocoords') }}?q=" + newValue);
                    $.ajax({
                        type: "GET",
                        url: "{{ urlFor('tocoords') }}?q=" + newValue,
                        dataType: 'json',
                        success: function (response) {
                            map.setView([response.latitude, response.longitude], 12);
                        }
                    });
                });
            }

            var model = new ViewModel();
            ko.applyBindings(model);

            $("#q").focus(); 

            $.ajax({
                type: "GET",
                url: "{{ urlFor('count') }}",
                dataType: 'json',
                success: function (response) {
                    $("#count").html(response.count);
                }
            });


        });
    </script>
{% endblock %}

{% block main %}
    <div class="unit span-grid">
        <p>Rentable is your premium source for lending just about everyting. Currently there are <span id="count"></span> items to rent.</p>
        <div id="search">
            <input type="text" data-bind="value: query" id="q" placeholder="Leipzig, Sachsen, Berlin, München, ..."></input>
        </div>
        <div id="reservations">
        </div>
    </div>
    <div class="unit span-grid">
        <div id="map"></div>
    </div>
{% endblock %}